@import "bootstrap";

.card img
{
  
  height: 100%;
  width: 100%;
 
}

body
{
  background-color: black;

  
}

.dropdown-menu li a
{
  text-decoration: none;

}

.dropdown-menu li a:hover
{
  color: black !important;
  background-color: white;
  padding: 10px;
}

a
{
  text-decoration: none !important;
  color: white !important;
}

